<div @fadeIn>
    <div class = "header">
        <a routerLink="/"><img src = "../../assets/pomo_pengy_logo_light.png" class="logo"></a>
        <a routerLink="/"><p class="right-item">< back to the site</p></a>
    </div>
    
    <div class = "content">
        <h3>what is pomopengy?</h3>
        <p>pomopengy is a multi-feature productivity application designed for students by students. we aimed to incentivize task completion through earning achievements and badges.</p>
        <p>our inspiration came from video games, such as valorant or league of legends, that give users a rank based on their performance and gives them rewards based on the amount of time/effort put towards the game.</p>
    
        <h3>our team</h3>
        <div class = "bio">
            <img src = "../../assets/about-images/ethan-headshot.png" class = "headshot">
            <div class = "info">
                <a href = "https://ethanlphan.com">Ethan Phan</a>
                <p>visionary, lead developer</p>
                <p>B.S. Computer Science, University at Buffalo</p>
            </div>
        </div>
        <div class = "bio">
            <div class = "info">
                <a href = "https://savina-chan.github.io">Savina Chan</a>
                <p>lead developer, asset procurer</p>
                <p>B.A. Computer Science, New York University</p>
            </div>
            <img src = "../../assets/about-images/savina-headshot.jpg" class = "headshot right">
        </div>
    </div>
</div>

