<div class = "timer-container">
    <div>
        <h1>{{ entered | number: '2.0' }} min {{ seconds | number: '2.0' }} s</h1>
    </div>
    <div class="timer-controller">
        <div>
            <button (click)="startTimer()" [disabled]="isRunning" class="timer-buttons">start</button>
            <button (click)="stopTimer()" [disabled]="!isRunning" class="timer-buttons">stop</button>
            <button (click)="resetTimer()" class="timer-buttons">reset</button>
            <br>
            <button (click)="toggleSettings()" class = "toggle" [style.display]="displaySettings ? 'none': 'block'">&#8964;</button>
        </div>
        <div [style.display]="displaySettings ? 'block' : 'none'">
            <p>To use the Pomodoro Timer, set your preferred study and break intervals. These intervals will alternate, helping you maximize your study time. We provided some commonly used default values.</p>
            <label for="minutes">study interval:</label>
            <input type="number" id="minutes" [(ngModel)]="minutes" min="1" class ="timer-input">
            <br>
            <label for="minutes">break interval:</label>
            <input type="number" id="minutes" [(ngModel)]="break" min="1" class ="timer-input">
            <br>
            <button (click)="toggleSettings()" class = "toggle inner">&#8963;</button>
        </div>
    </div>
</div>
