<div>
    <div class="carousel-container">
        <button class="carousel-button" (click)="showPrevious()">&lt;</button>

        <div class="carousel-slide">
            <img
                *ngIf="true"
                [src]="achievement_badges[getPreviousIndex()].image"
                class="previous"
            />
            <img
                [src]="achievement_badges[currentIndex].image"
                alt="Current badge"
                class="current {{achievement_badges[currentIndex].status}}"
            />
            <img
                *ngIf="true"
                [src]="achievement_badges[getNextIndex()].image"
                class="next"
            />
        </div>
        <button class="carousel-button" (click)="showNext()">&gt;</button>
    </div>
    <p class="desc">{{achievement_badges[currentIndex].desc}}</p>
</div>
