<img routerLink="/" class = "logo" src = "../../assets/pomo_pengy_logo_dark.png">
<div class="register-form" @fadeIn>
    <h1>register</h1>
    <div class = "form-input">
        <form [formGroup]="formRegister" (ngSubmit)="postToDB($event)">
            <input type="text" id="email" name="email" placeholder="email" formControlName="email"><br>
            <input type="text" id="username" name ="username" placeholder="username" formControlName="username"><br>
            <input type="password" id="password" name="password" placeholder="password (min. 8 characters)" formControlName="password"><br>
            <div class="submit-button" (click)="postToDB($event)">register</div>
            <div class = "message">

                <p *ngIf="formStatus">one or more fields are empty/incorrectly filled!</p>

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                    <p *ngIf = "email?.errors?.['email']">please enter a valid email address!</p>
                </div>
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                    <p *ngIf = "password?.errors?.['minlength']">your password should have at least 8 characters!</p>
                    <p *ngIf = "password?.errors?.['complexity']">your password should include at least 1 lowercase letter , 1 uppercase letter, 1 number, and 1 special character!</p>
                </div>
            </div>
        </form>
    </div>
    <h4>have an account? <a routerLink="/login">login</a></h4>
</div>