<img routerLink="/" class = "logo" src = "../../assets/pomo_pengy_logo_dark.png">
<div class="register-form" @fadeIn>
    <h1>register</h1>
    <div class = "form-input">
        <form>
            <input type="text" id="email" name="email" placeholder="email" [(ngModel)]="email"><br>
            <input type="text" id="username" name ="username" placeholder="username" [(ngModel)]="username"><br>
            <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password"><br>
            <div class="submit-button" (click)="postToDB()">register</div>
        </form>
    </div>
    <h4>have an account? <a routerLink="/login">login</a></h4>
</div>