<img class = "logo" src = "../../assets/pomo_pengy_logo_dark.png">
<div class="register-form">
    <h1>register</h1>
    <div class = "form-input">
        <form>
            <input type="text" id="email" placeholder="email"><br>
            <input type="text" id="username" placeholder="username"><br>
            <input type="text" id="password" placeholder="password"><br>
            <div class="submit-button">register</div>
        </form>
    </div>
    <h4>have an account? <a routerLink="/login">login</a></h4>
</div>