h2 {
    text-align: center;
}

.stats-container {
    margin-left: 3rem;
    margin-right: 3rem;
}

table {
    width: 100%;
    // Splash of Periwinkle
    border: 2px solid #D4C2FC;
    th {
        background-color: #1B1A52;
        padding: 0.5rem;
        font-size: 1.25rem;
    }
    td {
        padding: 0.5rem;
    }
}

tr:nth-child(even) {
    background-color: #555C8D;
}
