app-login-register-buttons {
  position: absolute;
  top: 4rem;
  right: 0.1rem;
}

.welcome-message {
  color: white;
  font-size: 1.5rem;
  margin-right: 3rem;

  // positioning
  position: absolute;
  top: 4rem;
  right: 0.1rem;
}