<img routerLink="/" class = "logo" src = "../../assets/pomo_pengy_logo_dark.png">
<div class="login-form" @fadeIn>
    <h1>login</h1>
    <div class = "form-input">
        <form>
            <input type="text" id="email" placeholder="email" name="email" [(ngModel)]="email"><br>
            <input type="password" id="password" placeholder="password" name="password" [(ngModel)]="password"><br>
            <div class="submit-button" (click)="postToDB()">login</div>
            <div class ="error-messages">
                <p *ngIf="failedLogin" class = "message">your email or password is incorrect, please try again!</p>
                <p *ngIf="emptyLogin" class = "message">one or more fields are empty!</p>
            </div>
        </form>
    </div>
    <h4>don't have an account? <a routerLink="/register">register</a></h4>
</div>
