.list-container {
    width: 33rem;
    height: 39.6875rem;
    border-radius: 3.125rem;
    background: #1B1A55;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    overflow-y: auto;
    // Hidden Scroll Bar
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
// Hidden Scroll Bar
.list-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.to-do-header {
    padding-top: 0.5rem;
}
.task-add-button {
    border-radius: 50%;
    width: 3.6875rem;
    height: 3.6875rem;
    background: #535C91;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
}
.task-add-button:hover {
    background-color: #9290C3;
}
h2 {
    padding-top: 0.63rem;
}
.task-item {
    width: 29.625rem;
    min-height: 5.6875rem;
    border-radius: 3.125rem;
    background: #535C91;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1rem;
    text-align: left;
    padding-top: 1.25rem;
    padding-left: 1.75rem;
    padding-bottom: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    .submit {
        border-radius: 3.125rem;
        background-color: #9290C3;
        color: #FFFFFF;
        font-family: Jua;
        width: 4rem;
        height: 2.25rem;
        border: none;
        display: none;
    } 
    .edit {
        border-radius: 3.125rem;
        background-color: #7775ab;
        color: #FFFFFF;
        font-family: Jua;
        width: 4rem;
        height: 2.25rem;
        margin-right: 0.5rem;
        border: none;
        display: none;
    }
    
    .submit:hover {
        background-color: #b3b1d5;
    }
    
    .edit:hover {
        background-color: #9290C3;
    }
}

.task-item:hover {
    background: #5663aa;
    .submit {
        display: inline;
    }
    .edit {
        display: inline;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.user-vals {
    border-radius: 3.125rem;
    font-family: Jua;
    width: 50%; height: 1.75rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}


.task-title {
    font-size: 1.50rem;
    margin: 0;
    margin-bottom: -0.75rem;
}

.task-date {
    font-size: 1rem;
    margin: 0;
    margin-bottom: -0.75rem;
}

.toggle {
    color: #535C91;
    font-size: 1.25rem;
    text-decoration: none;
}

.toggle:hover {
    color: white;
    cursor: pointer;
}

.container-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}