h1 {
    font-size: 3.5rem;
    color: #a9a6fc;
}

h2 {
    text-align: center;
}
.upper {
    height: 40vh;
}
.lower {
    height: 40vh;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.toggle {
    color: #535C91;
    font-size: 1.25rem;
    text-decoration: none;
}

.toggle:hover {
    color: white;
    cursor: pointer;
}

.container-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
}
