// Global Color Pallette (Hex)
// Dark Pastel Brown: 776B5D
// Light Pastel Brown: B0A695
// Pastel Tan: EBE3D5
// Pastel Paper White: F3EEEA
// Pastel Blue-Aqua: 96B6C5
// Pastel Baby Blue: ADC4CE
@font-face {
    font-family: Jua;
    src: url("../../font-jua/Jua-Regular.ttf");
}
body {
    background-color: #ADC4CE;
    font-family: Jua;
    margin: 1rem;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}
